@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="banner">
        <div class="banner-img">
            <img src="~/Content/image/banner1.jpg" alt="">
        </div>
        <div class="banner-info">
            <h2>Đợt giảm giá giữa mùa bắt đầu</h2>
            <p>Với ưu đãi lên đến 50%!</p>
            <p>Giảm giá áp dụng trong giỏ hàng. Một số sản phẩm ngoại lệ. Khuyến mãi kết thúc ngày 30/9/2020. <a href="" id="more">Điều Khoản & Điều Kiện</a></p>
            <div class="banner-button">
                <a href="">Mua Ngay <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="banner">
        <div class="banner-img">
            <video src="~/Content/image/banner2.mp4" loop muted autoplay></video>
        </div>
        <div class="banner-info banner-info2">
            <h2>Khẩu trang</h2>
            <p>Thoải mái. Dễ giặt. Tái sử dụng. Đã mở bán.</p>
            <div class="banner-button">
                <a href="">Mua Ngay  <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-item">
            <img src="~/Content/image/product1.jpg" alt="">
            <div class="product-name">
                <a href="#">Superstar</a>
            </div>
        </div>
        <div class="product-item">
            <img src="~/Content/image/product2.jpg" alt="">
            <div class="product-name">
                <a href="#">Stan smith</a>
            </div>
        </div>
        <div class="product-item">
            <img src="~/Content/image/product3.jpg" alt="">
            <div class="product-name">
                <a href="#">ultraboost</a>
            </div>
        </div>
        <div class="product-item">
            <img src="~/Content/image/product4.jpg" alt="">
            <div class="product-name">
                <a href="#">quần áo</a>
            </div>
        </div>
    </div>
    <div class="banner3">
        <div class="banner3-img">
            <video src="~/Content/image/banner3-2.mp4" loop muted autoplay></video>
            <div class="banner3-info">
                <h3>LOẠT GIÀY A-ZX</h3>
                <p>L viết tắt cho LEGO®. Loạt giày A-ZX: tôn vinh dòng giày ZX theo thứ tự chữ cái.</p>
                <a href="">Shop Now <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="banner3-img">
            <img src="~/Content/image/banner3-2.jpg" alt="">
            <div class="banner3-info">
                <h3>READY FOR WHATEVER'S NEXT</h3>
                <p>The new Arsenal Away Jersey.</p>
                <a href="">Shop Now <i class="fas fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>